<%
=begin%>
 <%= render "form", task: @tasks %>  
<%
=end%>


<h2>Edit Article</h2>

<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>